body {
  background-color: #fff5c2;
  color: #ffcc00;
  font-family: "Courier New", monospace;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
  color: #222;
  text-shadow: 0 0 10px #ffcc00;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #ffcc00;
  padding: 1.5em 3em;
  border-radius: 12px;
  margin: 2em auto;
  width: fit-content;
  box-shadow: 0 0 25px #ffcc00;
  gap: 2em;
}

.board img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

button {
  background: #ffcc00;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
}

button:hover {
  background: #ffaa00;
}

#map {
  height: 600px;
  margin: 20px auto;
  width: 80%;
  border-radius: 12px;
  border: 2px solid #ffcc00;
  box-shadow: 0 0 15px #ffcc00;
}
